* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:  #517664;
}

header {
    padding: 1rem;
    display: flex;
    background-color: #9FD8CB;
    justify-content: space-between;
    border-radius: 1rem;
}

.title {
    margin: 0 1rem;
    color: #517664;
}

.createButton {
    line-height: normal;
    border: 0;
    font-size: 20pt;
    color: #9FD8CB;
    background-color: #517664;
    padding: 0 1rem;
    border-radius: 0.4rem;
}