* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color:  #517664;
    position:relative;
}

header {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    background-color: #9FD8CB;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 4px 2px 0.5rem #344d40;
}

.title {
    margin: 0 0 0 1rem;
    color: #517664;
}

.menuContainer {
    display: flex;
    gap: 1rem;
}

.menu {
    display: none;
}

.menu.open {
    display: flex;
    gap: 1rem;
}

.createButton, .new {
    line-height: normal;
    border: 0;
    font-size: 20pt;
    color: white;
    background-color: #517664;
    padding: 0.6rem 1rem;
    border-radius: 6rem;
}

button.new {
    font-size: 12pt;
    border-radius: 1rem;
}

.createButton:hover, .new:hover{
    color: #517664;
    background-color: white;
    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;
}

.todoFormContainer, .projectFormContainer {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.todoFormContainer.open, .projectFormContainer.open {
    display: block;
}

.todoForm, .projectForm {
    display: flex;
    background-color:#9FD8CB;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding:1rem;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 4px 2px 0.5rem #344d40;
}

.todoForm>p, .projectForm>p {
    font-size: 20pt;
    color: #517664;
    font-weight: bold;
}

.todoForm>label, .todoForm>p, .projectForm>label, .projectForm>p {
    margin: 0.25rem;
    text-align: center;
}

.todoForm>input, .projectForm>input {
    background-color: #517664;
    color: white;
    border-radius: 0.5rem;
    border:0;
    width: 100%;
}

input.submitButton {
    margin: 1rem 0.25rem 0 0.25rem;
    width: 30%;
    padding: 0.5rem 0.25rem;
    background-color: #517664;
    color:white;
    border: 0;
    border-radius: 0.5rem;
}

.todoContainer {
    margin:1rem;
}

.todoCard {
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: #9FD8CB;
    border-radius: 1rem;
}

.todoCard > * {
    margin: 0.5rem;
}

.cardProj {
    margin-left: auto;
}