* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color:  #517664;
}

header {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    background-color: #9FD8CB;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 4px 2px 0.5rem #344d40;
}

.title {
    margin: 0 0 0 1rem;
    color: #517664;
}

.menuContainer {
    display: flex;
    gap: 1rem;
}

.menu {
    display: none;
}

.menu.open {
    display: flex;
    gap: 1rem;
}

.createButton, .new {
    line-height: normal;
    border: 0;
    font-size: 20pt;
    color: white;
    background-color: #517664;
    padding: 0.6rem 1rem;
    border-radius: 6rem;
}

button.new {
    font-size: 12pt;
    border-radius: 1rem;
}

.createButton:hover, .new:hover{
    color: #517664;
    background-color: white;
    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;
}